@{
    ViewData["Title"] = "Admin Page";
}
<h1>@ViewData["Title"]</h1>

<div class="justify-content-center">
  <button class="btn-primary" onclick="getAllTabellaPrenoa()">Mostra prenotazioni</button>
<div id="myPrenotas"></div>
    </div>