@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<div>
    <dl class="mt-3">
        <dt>Autori:</dt>

        <dd class="mt-1">
            <div class="iconeContat">
                <img class="card-img-top m-3" src="~/Src/man.jpg" alt="man" style="width:7%">
            </div>
            <b>Christian Bonino</b>
        </dd>
        <dd class="mt-1">
            <div class="iconeContat">
                <img class="card-img-top m-3" src="~/Src/woman.png" alt="woman" style="width:7%">
            </div>
            <b>Annalisa Ribatti</b>
        </dd>
        <dd class="mt-1">
            <div class="iconeContat">
                <img class="card-img-top m-3" src="~/Src/man.jpg" alt="man" style="width:7%">
            </div>
            <b>Davide Briguglio</b>
        </dd>
        <dd class="mt-1">
            <div class="iconeContat">
                <img class="card-img-top m-3" src="~/Src/woman.png" alt="woman" style="width:7%">
            </div>
            <b>Martina Ferrara</b>
        </dd>
    </dl>
    <br />
    <p>Si ringraziano per il loro lavoro i colleghi di progetto appartenenti ai corsi TIRC e TGRC.</p>
</div>