@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>

<div>
    <dl>
        <dt>Autori:</dt>
        <dd>Christian Bonino</dd>
        <dd>Annalisa Ribatti</dd>
        <dd>Davide Briguglio</dd>
        <dd>Martina Ferrara</dd>
    </dl>
</div>