@{
    ViewData["Title"] = "Home Page";
}

<body id="homeBackground">

    <div class="text-center">
        <h1 class="display-4">Welcome!!</h1>
        <h3 class="display-4">Questo è il Villaggio del gruppo 3!</h3>
    </div>

    <div>
        <img class="card-img-top" src="~/Src/home.jpg" alt="HOME PAGE" style="width:100%">
    </div>

</body>