@{
    ViewData["Title"] = "Home Page";
}

<body id="homeBackground">
    <div class="justify-content-center">
        <div class="text-center pasticcio">
            <h1 class="display-6">You are welcome to....</h1>
            <h3 class="display-6">Villaggio COSTA VERDE!!!</h3>
        </div>

        <div>
            <img class="card-img-top" src="~/Src/home.jpg" alt="HOME PAGE" style="width:100%">
        </div>
    </div>
</body>