@{
    ViewData["Title"] = "Users";
}
@using Microsoft.AspNetCore.Identity
@using MVC_TDPC13.DB.Entities

@inject MVC_TDPC13.DB.UserDBContext userDBContext

@model MVC_TDPC13.Models.UsersAndRolesViewModel

<div class="text-center justify-content-center">
    <h3 class="display-6 pasticcio">Prima di prenotare devi accedere o registrarti qui!</h3>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <button id="CreateUserButton" class="btn btn-success btn-sm" onclick="showConfirmationModalForUsers('@Url.Action("CreateUser", "Home")', { addOrDelete:'Add' });">Create User</button>
            </div>
        </div>
    </div>
</div>