@{
    ViewData["Title"] = "Users";
}
@using Microsoft.AspNetCore.Identity
@using MVC_TDPC13.DB.Entities

@inject MVC_TDPC13.DB.UserDBContext userDBContext

@model MVC_TDPC13.Models.UsersAndRolesViewModel

<div class="text-center justify-content-center">
    <h3 class="display-6 pasticcio">Prima di prenotare devi accedere o registrarti qui!</h3>

    <div class="text-center">
        <form asp-action="Index" asp-controller="Home" method="get" hidden>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>UserName</label>
                            <input name="userName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" class="form-control" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <br />
                            <input type="submit" class="btn btn-primary" value="Search" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <h1>Users</h1>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <button id="CreateUserButton" class="btn btn-success btn-sm" onclick="showConfirmationModalForUsers('@Url.Action("CreateUser", "Home")', { addOrDelete:'Add' });">Create User</button>
                </div>
            </div>
        </div>
    </div>